body{
    text-align: center;
    font-family: Calibri;
}
h1{

    display: inline-block;
    background-color: #CA9491;
    border: #52545C 2px solid;
    padding: 10px;
    margin: 200px 0px 200px 0px;
    font-size: 4em;    
    min-width: 500px;

}
h2{

    background-color: #CA9491;
    border: #52545C 1px solid;
    padding: 10px;
    margin: auto auto auto auto; 
    font-size: 2em;    

}
#questMain{
    
    background-color: #D0CEE9;
    border: #52545C 1px solid;
    width: 600px;
    margin: auto auto auto auto; 
}

h3{
    display: inline-block;
    background-color: #A7A1C4;
    border: #52545C 1px solid;
    padding: 10px;
    font-size: 1.8em;

}

h4{

    background-color: #CA9491;
    border: #52545C 1px solid;
    padding: 10px;
    width: 240px;
    margin: 40px auto 10px auto; 
    font-size: 1.5em;    

}

#reqInfo1{
    background-color: #D0CEE9;
    border: #52545C 1px solid;
    padding: 10px;
    font-size: 1.5em;
    width: 600px;
    margin: 10px auto auto auto; 
}
#reqInfo2{
    background-color: #D0CEE9;
    border: #52545C 1px solid;
    padding: 10px;
    font-size: 1.5em;
    width: 600px;
    margin: 10px auto auto auto; 
}
.questText{
    background-color: #A7A1C4;
    border: #52545C 1px solid;
    padding: 10px;
    width: 400px;
    margin: 10px auto auto auto; 
    font-size: 1.8em;
}
.ans1, .ans2, .ans3{
    display: block;
    background-color: #D0CEE9;
    border: #52545C 1px solid;
    padding: 10px;
    font-size: 1.5em;
    width: 400px;
    margin: 10px auto auto auto; 
}

.submitButton, .prevButton, .nextButton, .resetButton{
    display: inline-block;
    background-color: #52545C;
    border:black 1px solid;
    padding: 10px;
    font-size: 1.5em;
    width: 120px;
    margin: 10px 10px 10px auto;
}
#endScrH3{
    font-size: 5em;
    width: 130px;
}
#endScrH4{
    font-size: 2em;
    width: 400px;
}
.sel1, .sel2, .sel3{
    display: block;
    background-color: #D0CEE9;
    border: white 1px solid;
    padding: 10px;
    font-size: 1.5em;
    width: 400px;
    margin: 10px auto auto auto; 
}

.hidden{
    display: none;
}
